.booking-title {
  color: black !important;
  font-family: 'Space Grotesk', sans-serif;
}

.title-booking {
  margin-bottom: 30px;
}

.image-title {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
