// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


.center {
  position: absolute;
  margin-top: -100px;
  padding-top: -100px;
  font-family: 'Space Grotesk', sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  width: 100vw;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list-left {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color:rgb(0, 0, 0);
}

.footer-text {
  margin-right: 30px;
  font-size: small;
}

.footer-list-right {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color:rgb(0, 0, 0);
}

.mb-2 {
  border-radius: 5px;
  cursor: pointer;
}

.mb-2:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
  }

.pricereview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

.rating {
  margin-top: 10px;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

.text-black {
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

.text-desc {
  cursor: pointer;
  margin-top: -5px;
}
