.container {
  margin: 100px;
  font-family: 'Space Grotesk', sans-serif;
}

.container-profile {
  margin: 100px;
  font-family: 'Space Grotesk', sans-serif;
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

a.profile{
  color: white;
}

.profile:hover{
  color: black;
}
