<div class="reservation-form">
  <%= simple_form_for [@spaceship, @reservation] do |f| %>
    <div class="reservation-choice">
      <%= f.input :start_date, label: "Arrival", placeholder: 'dd/mm/yyyy', required: true, class: "start-date-form" %>
      <%= f.input :end_date, label: "Departure", placeholder: 'dd/mm/yyyy', required: true, class: "start-date-form" %>
    </div>
    <div class="reservation-submit">
      <%= f.button :submit, "BOOK IT", class: "reserve-button" %>
    </div>
  <% end %>
</div>
