<div class="reservation-form">
  <%= simple_form_for [@spaceship, @reservation] do |f| %>
    <%= f.input :start_date, label: "From", placeholder: 'yyyy/mm/dd', required: true %>
    <%= f.input :end_date, label: "To", placeholder: 'yyyy/mm/dd', required: true %>
    <div class="reservation-submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>
