
<span class="center"> Have a nice journey among the stars </span>


<div class="footer">
  <div class="footer-content">
    <ul class="footer-list-left">
      <li class="footer-text">©2022, Orbitat Inc.</li>
      <li class="footer-text"><%= link_to "Privacy", "#" %></li>
      <li class="footer-text"><%= link_to "Terms", "#" %></li>
      <li class="footer-text"><%= link_to "About", "#" %></li>
    </ul>
    <ul class="footer-list-right">
      <li class="footer-text"></li>
      <li class="footer-text">Eng</li>
      <li class="footer-text"></li>
      <li class="footer-text"><%= link_to "Assistance", "#" %></li>
    </ul>
  </div>
</div>
