<%# 
<span class="center"> Have a nice journey among the stars </span>


<div class = "container"> <h1>lorem<h1><br>
<h1>lorem<h1><br>

<h1>lorem<h1><br>

</div> %>
<section id="boat_services" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2>Lorem Ipsum </h2>
      <p>Lorem Ipsum......</p>
    </div>
    <div class="row">
    
      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>

       <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>
       <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>
       <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>
      
       <div class="col-md-4">
       
        <figure>
            <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
            <figcaption class="inside">
                <h2 class="text-white">Name of <span>the spaceship</span></h2>
            </figcaption>
            <figcaption class="outside">
                <p class="small text-color mb-0">99 $$ Price</p>
                <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
            </figcaption>
        </figure> 

      </div>
       <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>
       <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Name of <span>the spaceship</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">99 $$ Price</p>
        <p class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu</p>
      </figcaption>
        </figure> 

      </div>
    </div>
    
  </div>
</section>
