<section id="boat_services" class="my-5">
  <div class="container">
    <div class="profile-page">
      <h2 class="profile-name">PROFILE</h2>
      <p class="ab"><%= link_to "My bookings", my_bookings_spaceships_path, class: "form-link-a" %></p>
      <p class="ab"><%= link_to "My spaceships", my_spaceships_spaceships_path, class: "form-link-a"  %></p>
      <p class="ab"><%= link_to "Change my profile data", edit_user_registration_path, class: "form-link-a"  %></p>
      <p class="ab"><%= link_to "Back to renting", spaceships_path, class: "form-link-a"  %></p>
    </div>
  </div>
</section>
