<section id="boat_services" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2>Profile </h2>
      <p>Add a spaceship, check your reviews or change your data......</p>

      <h3>Your spacships here:</h3>

      <h3>Your reviews here:</h3>

      <h3>Change your profile data </h3>
    </div>
    <div class="row">
      <div class="btn btn-ghost">
        <%= link_to "Back to renting a spaceships", "spaceships#index", class: "nav-link" %>
      </div>
  </div>
</section>
