<section id="boat_services" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2 class="profile-name">PROFILE</h2>
      <p><%= link_to "My bookings", my_bookings_spaceships_path, class: "profile-text" %></p>
      <p><%= link_to "My spaceships", my_spaceships_spaceships_path %></p>
      <p><%= link_to "Change my profile data", edit_user_registration_path %></p>
      <p><%= link_to "Back to renting", spaceships_path %></p>
    </div>
  </div>
</section>
