body {
    font-family: 'Space Grotesk', sans-serif;
}

  h2 {
    font-weight: 800 !important;
      margin-bottom: 0px !important;
      font-size: 25px !important;
      line-height: 30px !important;
      letter-spacing: normal !important;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      color: rgb(72, 72, 72) !important;
  }

  figure {
  /*   width:30%; */
    position:relative;
    padding:5px;
  }

  figure img {
    width:100%;
    border-radius:3px;
  }

  figcaption.inside{
    position:absolute;
    top:20px;
    left:20px;
   }


  span {
    display:block;
  }

  .text-desc {
    font-size:14px!important;
  /*       font-size: 16px !important; */
      line-height: 22px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      color: rgb(72, 72, 72) !important;
      font-weight: normal !important;
      margin-top: 0px !important;
  }
