.footer {
    position: fixed;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 100vw;
    padding-top: 20px;
    color: rgb(255, 255, 255);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-list-left {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color:rgb(0, 0, 0);
  }
  
  .footer-text {
    margin-right: 30px;
    font-size: small;
  }
  
  .footer-list-right {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color:rgb(0, 0, 0);
  }
  