// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/forms";
@import "pages/show";
@import "pages/profile";
@import "pages/new";
@import "pages/booking";


a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}

body {
  background-color: rgb(249, 249, 249);
}

.main-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

.navbar-lewagon {
  margin-bottom: -60px;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

#logo-1 {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#o {
  font-style: oblique 20deg;
}

#at {
  margin-bottom: 30px;
  font-size: 25px;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  margin-right: 7px;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.225);
  border-radius: 25px;
}

.form-control:focus {
  background-color: #ffffff;
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #c5c5c5;
  border-radius: 25px;
}

.search-button {
  background-color: #ffffff;
  border: 0px solid #ffffff00;
  outline: none !important;
}

.nav-item-one {
  padding-right: 5em;
  color: black;
  cursor: pointer;
}

#navbarDropdown{
  cursor: pointer;
  width: 30px;
}

.nav-link {
  color: black;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer !important;
}

.nav-link:hover {
  color: rgb(164, 162, 252) !important;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer !important;
}

#add-spaceship {
  list-style-type: none;
  cursor: pointer !important;
}

#add-spaceship:hover {
  list-style-type: none;
  color: rgb(144, 144, 144);
  cursor: pointer !important;
}

.btn.btn-ghost {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 25px;
}
.avatar {
  margin-left: 45px;
  margin-right: 15px;
  cursor: pointer;
}

.span {
  display: flex;
  padding: 0%;
  margin: -20px;
  margin-left: 10px;
}

.burger {
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -10px;
}

.drop {
  display: flex;
  align-items: center;
}

.nav-item-dropdown {
  list-style-type: none;
}

.searchbar {
  width: 600px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 86px;
}

.dropdown {
margin-right: 10px;
}

.dropdown-text {
  font-weight: 500 !important;
  color: black !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.dropdown-text:hover {
  font-weight: 500 !important;
  color: rgb(164, 162, 252) !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.form-actions {
  cursor: pointer !important;
}

.form-inputs {
  margin-top: 20px;
}

.form-link {
  cursor: pointer !important;
  color: rgb(0, 0, 0);
}

.form-link:hover {
  cursor: pointer !important;
  color: rgb(146, 144, 252);
}

.form-link-a {
  cursor: pointer !important;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.form-link-a:hover {
  cursor: pointer !important;
  color: rgb(146, 144, 252);
}

.title-login {
  font-weight: 500 !important;
  color: black !important;
}

.profile-name {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500 !important;
  color: rgb(0, 0, 0) !important;
  margin-bottom: 30px !important;
}

.profile-page {
  line-height: 10px;
  margin-top: 50px;
  padding: 40px;
}

.ab {
  margin-top: 20px;
  margin-bottom: 20px;
}
